<!DOCTYPE html>
<html>
<head>
{{include file="public/header.html"}}
<link href="{{$public}}/css/admin/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
</head>
<style type="text/css">
    .lightBoxGallery img {
        margin: 5px;
        width: 160px;
    }
</style>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        {{include file="public/navbar.html"}}
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            {{include file="public/menu.html"}}
            <div class="row" id="content-main" style="height:calc(100% - 105px);">
                <div class="col-sm-12">
                    <div class="wrapper wrapper-content animated">
                        <div class="ibox">
                            <div class="ibox-title">
                                <a href="javascript:;" onclick="javascript:history.back(-1)" class="btn btn-white btn-xs pull-right">返回上一页</a>
                                <h3>子订单信息</h3>
                            </div>
                            <div class="ibox-content">
                                <div class="panel-body">
                                    <div class="panel-group" id="accordion">
                                        {{foreach $details['sorder'] as $s}}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a href="javascript:;" class="btn btn-white btn-xs pull-right">供应商：{{$s['vendor_name']}}</a>
                                                    <a data-parent="#accordion" href="javascript:void(0);" aria-expanded="true" class="collapsed">子订单号：<span class="text-success">{{$s['s_order_code']}}</span></a>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$s['id']}}" class="panel-collapse collapse in" aria-expanded="true">
                                                <div class="panel-body">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <td colspan="2">商品信息</td>
                                                                <td class="col-sm-2">单价</td>
                                                                <td class="col-sm-2">数量</td>
                                                                <td class="col-sm-2">小计</td>
                                                                <td class="col-sm-2">已发数量</td>
                                                                <td class="col-sm-2">已收数量</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{foreach $s['goods'] as $g}}
                                                            <tr>
                                                                <td class="client-avatar">
                                                                    <img alt="image" src="{{PIC_O_URL}}{{$g['goods_pic']}}">
                                                                </td>
                                                                <td>
                                                                    {{$g['goods_name']}}<br>{{$g['spec_name']}}
                                                                </td>
                                                                <td>
                                                                    <a class="text-danger" href="javascript:void(0);">{{$g['buy_price']}}</a>
                                                                </td>
                                                                <td>
                                                                    x {{$g['buy_num']}}
                                                                </td>
                                                                <td>
                                                                    <a class="text-danger" href="javascript:void(0);">{{$g['buy_num']*$g['buy_price']}}</a>
                                                                </td>
                                                                <td>
                                                                    <a class="text-success" href="javascript:void(0);">{{$g['express_num']}}</a>
                                                                </td>
                                                                <td>
                                                                    <a class="text-navy" href="javascript:void(0);">{{$g['receive_num']}}</a>
                                                                </td>
                                                            </tr>
                                                            {{/foreach}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        {{if !empty($s['express_no'])}}
                                        <div class="well">
                                            <h4>订单物流信息</h4>
                                            <p>快递单号：
                                                {{foreach $s['express_no'] as $v}}
                                                    <a href="javascript:void(0);" class="text-success" style="font-size: 18px;">{{$v}}，</a>
                                                {{/foreach}}
                                            </p>
                                            <p>收货照片：<small class="text-navy">{{if !empty($s['receive_pic'])}}点击查看大图{{/if}}</small></p>
                                            <div class="alert">
                                                <div class="lightBoxGallery">
                                                {{if !empty($s['receive_pic'])}}
                                                    {{foreach $s['receive_pic'] as $r}}
                                                        <a href="{{PIC_O_URL}}{{$r}}" title="收货凭证" data-gallery=""><img src="{{PIC_O_URL}}{{$r}}"></a>
                                                    {{/foreach}}
                                                    <div id="blueimp-gallery" class="blueimp-gallery">
                                                        <div class="slides"></div>
                                                        <h3 class="title"></h3>
                                                        <a class="prev"><</a>
                                                        <a class="next">></a>
                                                        <a class="close">×</a>
                                                        <a class="play-pause"></a>
                                                        <ol class="indicator"></ol>
                                                    </div>
                                                {{else}}
                                                    暂未上传相关照片...
                                                {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}}
                                        {{/foreach}}
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>订单详情</h3>
                            </div>

                            <div class="ibox-content">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="active">订单编号</td>
                                            <td>{{$details['p_order_code']}}</td>
                                            <td class="active">用户账号</td>
                                            <td>{{$details['account']}}</td>
                                        </tr>
                                        <tr>
                                            <td class="active">下单时间</td>
                                            <td>{{$details['add_time']}}</td>
                                            <td class="active">所属区域</td>
                                            <td>{{$details['area_name']}}</td>
                                        </tr>
                                        <tr>
                                            <td class="active">订单金额</td>
                                            <td>{{$details['order_amt']}}</td>
                                            <td class="active">审核状态</td>
                                            <td><span class="label {{$details['reviewStatusLabel']}}">{{$details['review_status_v']}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>

                        <div class="ibox">
                            <h3 style="padding-left: 15px">收货信息</h3>
                            <div class="ibox-content" style="padding-bottom: 5px;">
                                <p>收货人姓名：{{$details['consignee']}}</p>
                                <p>收货人电话：{{$details['consignee_phone']}}</p>
                                <p>收货人地址：{{$details['addr']}} {{$details['details']}}</p>
                            </div>
                        </div>

                        <div class="mail-box">
                            <table class="table table-hover table-mail mb0">
                                <tbody>
                                    <tr class="unread">
                                        <td style="width:120px;padding-left: 20px;">订单备注:</td>
                                        <td>{{if !empty($details['remark'])}}{{$details['remark']}}{{else}}无{{/if}}</td>
                                    </tr>
                                    {{if $details['area_type']==3}}
                                        <tr class="unread">
                                            <td  style="width:120px;padding-left: 20px;">战区审核意见:</td>
                                            <td class="mail-subject">{{if !empty($details['review'][0]['review_comments'])}}{{$details['review'][0]['review_comments']}}{{else}}无{{/if}}</td>
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                        
                        

                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>审核意见</h3>
                            </div>
                            <div class="ibox-content" tmp-id="{{$details['id']}}">
                                <textarea id="review_comments" name="review_comments" class="form-control" required="" aria-required="true" placeholder="若审核拒绝则需填写意见。。。"></textarea>
                                <p style="margin: 20px 0">
                                    <button class="btn btn-danger reviewPass" type="btn" review_status="3">拒绝</button>
                                    <button class="btn btn-primary reviewPass" type="btn" review_status="4">通过</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{include file="public/footer.html"}}
            <script type="text/javascript" src="{{$public}}/layer/layer.js"></script>
            <script src="{{$public}}/js/admin/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
            <script type="text/javascript">
                $(function(){
                    $('.reviewPass').click(function(){
                        var status = $(this).attr('review_status');
                        if(status==3){
                            var review_comments = $('textarea').val();
                            if(review_comments==null || review_comments==''){
                                layer.msg('审核拒绝状态下，请先填写审核意见！',{icon:2});
                                return false;
                            }
                        }else{
                            var review_comments = '通过';
                        }

                        var url = module+'/order/reviewOrder';
                        var id = $(this).parents('.ibox-content').attr('tmp-id');
                        post(url,{id:id,status:status,review_comments:review_comments},function(res){
                            if(res.retcode===1){
                                layer.msg(res.msg,{time: 2000,icon:1},function(){
                                    window.location.href=module+'/order/review';
                                });
                            }else{
                                layer.msg(res.msg,{icon:2});
                            }
                        })
                    })
                })

            </script>
        </div>
        <!--右侧部分结束-->
    </div>
</body>
</html>
